// Place all the styles related to the School controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

@success: #2ECC71;
@fail: red;

.content {
  margin-top: 40px;
  margin-left: 20px;
}

.navbar-inner, .sidebar-fixed {
  background: #34495e !important;
  color: white;
}

.sidebar-fixed {
  height: 100%;
  padding: 9px 0;
  position: fixed;
  left: 0px;
  margin-left: 0px !important;
  width: 200px;
}

.span-sidebar-fixed {
  margin-left: 200px !important;
}

.indicator {
  cursor: pointer;
}

.pie {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.inactive:hover {
  -webkit-filter: brightness(20%);
}

.inactive {
  -webkit-filter: brightness(50%);
}

.indicator svg {
  background-repeat: no-repeat;
  background-position: center;
}

.title, .description {
  text-align: center;
}

.title {
  font-weight: bold;
}

.estrutura-basica svg {
  background-image: url('estrutura-basica.png');
}

.biblioteca svg {
  background-image: url('biblioteca.png');
}

.sala-de-informatica svg {
  background-image: url('sala-de-informatica.png');
}

.quadra-de-esportes svg {
  background-image: url('quadra-de-esportes.png');
}

.livro-didatico svg {
  background-image: url('livro-didatico.png');
}

.merenda svg {
  background-image: url('merenda.png');
}

.merenda-de-qualidade svg {
  background-image: url('merenda-de-qualidade.png');
}

.projeto-pedagogico svg {
  background-image: url('projeto-pedagogico.png');
}

.conselho-escolar-democratico svg {
  background-image: url('conselho-escolar-democratico.png');
}

.conselho-de-classe svg {
  background-image: url('conselho-de-classe.png');
}

.projeto-pedagogico-democratico svg {
  background-image: url('projeto-pedagogico-democratico.png');
}

.apoio-da-comunidade svg {
  background-image: url('apoio-da-comunidade.png');
}

.formacao-inicial svg {
  background-image: url('formacao-inicial.png');
}

.equipe-pedagogica-completa svg {
  background-image: url('equipe-pedagogica-completa.png');
}

.turmas-com-ate-25-alunos svg {
  background-image: url('turmas-com-ate-25-alunos.png');
}

.salario-acima-do-piso svg {
  background-image: url('salario-acima-do-piso.png');
}

.desempenho-satisfatorio-em-portugues svg {
  background-image: url('desempenho-satisfatorio-em-portugues.png');
}

.desempenho-satisfatorio-em-matematica svg {
  background-image: url('desempenho-satisfatorio-em-matematica.png');
}

.status {
  width: 32px !important;
  margin-left: 35px;
  margin-top: -60px !important;
  float: left;
  text-align: center;
}

.icon-ok {
  color: @success;
}

.icon-remove {
  color: @fail;
}

.info {
  width: 188px;
  margin: auto;
}
